.banner
  .layout-wrapper
    .layout-inner
      %h1 CIO Blog
      %h2 Information and opinions for business technology leaders

.container

  #main
    .articles
      %section.article-featured
        %h1.small-box-title Featured Article
        %article
          = partial "shared/article_header", :locals => { :article => featured_article }
          .body
            = featured_article.summary
            .read-more
              = link_to "Read more...", featured_article, :class=>'read-more'
      %section.articles-recent
        %h1.small-h1 Recent Articles
        = partial "shared/article_list", :locals => { :articles => blog.articles.drop(1) }

    = partial "shared/sidebar"